# 对链家房产在昆明，成都，杭州，上海四地区的二手房数据进行分析

## （1） 数据预览

In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
# %matplotlib inline

In [2]:
# 加载各城市房屋数据
km_df = pd.read_csv(r"./data/kunming_house.csv")
cd_df = pd.read_csv(r"./data/chengdu_house.csv")
hz_df = pd.read_csv(r"./data/hangzhou_house.csv")
sh_df = pd.read_csv(r"./data/shanghai_house.csv")

In [3]:
# 数据备份
km = km_df.copy()
cd = cd_df.copy()
hz = hz_df.copy()
sh = sh_df.copy()

In [4]:
# 创建一个列表 city_list,用于存放各个城市数据信息
city_list = [km, cd, hz, sh]
# 创建一个元组用于存储城市名称
city_names = ("KunMing", "ChengDu", "HangZhou", "ShangHai")

In [5]:
# 各城市二手房产的基本信息
for city in city_list:
    print(city.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 8 columns):
region         570 non-null object
total_price    452 non-null float64
house_info     570 non-null object
publishday     290 non-null float64
attention      570 non-null int64
unit_price     570 non-null int64
url            0 non-null float64
visited        570 non-null int64
dtypes: float64(3), int64(3), object(2)
memory usage: 35.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
house_info     3000 non-null object
region         3000 non-null object
publishday     133 non-null float64
visited        3000 non-null int64
attention      3000 non-null int64
total_price    2439 non-null float64
unit_price     3000 non-null int64
url            0 non-null float64
dtypes: float64(3), int64(3), object(2)
memory usage: 187.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 8 columns):
visited        2999 non-null int64
url            0 non-null float64
attention      2999 non-null int64
house_info     2999 non-null object
publishday     424 non-null float64
unit_price     2999 non-null int64
region         2999 non-null object
total_price    2980 non-null float64
dtypes: float64(3), int64(3), object(2)
memory usage: 187.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
attention      3000 non-null int64
url            0 non-null float64
unit_price     3000 non-null int64
region         3000 non-null object
house_info     3000 non-null object
visited        3000 non-null int64
publishday     297 non-null float64
total_price    2993 non-null float64
dtypes: float64(3), int64(3), object(2)
memory usage: 187.6+ KB
None

### 表字段说明：
 - region: 房产地域
 - house_info: 房产基本信息
 - uit_price: 单位面积售价（元/平方米）
 - total_price: 房产总价（万元）
 - publishday: 发布日期，距离当前日期的天数
 - attention: 关注数量
 - visited: 访客数量
 - url: 房产链接

In [6]:
km.tail()

,region,total_price,house_info,publishday,attention,unit_price,url,visited
565,滇池卫城橡尚,142.0,| 2室2厅 | 90平米 | 南 北 | 其他,NaN,2,15778,NaN,2
566,滇池卫城蓝湾,235.0,| 5室3厅 | 153平米 | 南 | 其他,NaN,8,15360,NaN,0
567,广福城怡福园,116.0,| 2室2厅 | 77.56平米 | 西 | 其他,NaN,1,14957,NaN,1
568,怡康温泉新村B区,129.0,| 4室2厅 | 132.2平米 | 东 西 | 其他,NaN,4,9758,NaN,0
569,鑫都公寓,160.0,| 2室1厅 | 76平米 | 东南 | 其他,NaN,0,21053,NaN,0

In [7]:
# 按照指定的统一索引顺序，对列名重新排序
sort_cols = ['region','house_info','unit_price','total_price','publishday','attention','visited','url']

km = km.loc[:, sort_cols]
cd = cd.loc[:, sort_cols]
hz = hz.loc[:, sort_cols]
sh = sh.loc[:, sort_cols]

In [8]:
km.sample(5)

,region,house_info,unit_price,total_price,publishday,attention,visited,url
216,国际花园,| 4室2厅 | 125平米 | 南 北 | 其他,15200,190.0,6.0,0,0,NaN
533,海伦国际,| 2室2厅 | 94平米 | 东南 | 其他,13830,130.0,21.0,2,0,NaN
229,滇池世界花苑,| 3室2厅 | 133平米 | 南 北 | 精装,13534,180.0,NaN,4,0,NaN
67,东菊新村,| 3室2厅 | 120平米 | 东南 | 简装,7667,NaN,NaN,15,2,NaN
167,佳华大厦住宅区,| 3室2厅 | 151.7平米 | 东 南 | 简装,18985,288.0,17.0,1,0,NaN

In [9]:
cd.sample(5)

,region,house_info,unit_price,total_price,publishday,attention,visited,url
843,麓山国际茵特拉肯A,| 3室2厅 | 128.32平米 | 东南 西北 | 其他 | 有电梯,19951,256.0,NaN,82,0,NaN
2783,隆鑫九熙,| 3室2厅 | 92.52平米 | 东南 | 精装 | 有电梯,20537,190.0,NaN,13,0,NaN
2707,大成郡,| 3室2厅 | 104.56平米 | 南 | 其他 | 有电梯,12912,135.0,NaN,114,14,NaN
2818,锦天国际,| 2室1厅 | 79.66平米 | 南 | 其他 | 有电梯,20086,160.0,NaN,28,16,NaN
1337,世纪金沙,| 2室1厅 | 90.08平米 | 东南 | 其他 | 有电梯,18697,168.5,NaN,89,20,NaN

In [10]:
## write data to new file
# km.to_csv(r"./data/KunMing_houses.csv", index=False)
# cd.to_csv(r"./data/ChengDu_houses.csv", index=False)
# hz.to_csv(r"./data/HangZhou_houses.csv", index=False)
# sh.to_csv(r"./data/ShangHai_houses.csv", index=False)

## （2） 数据清洗
### 房产数据信息字段清洗详情：
 - 删除 url 列
 - 把unit_price转化为以万元为单位
 - publishday 字段缺失值填充，以均值代替
 - 将 house_info 以竖线'|'列拆分为6列：rooms, halls, area, towards, decoration, have_elevator
   其中房屋朝向有下列对应关系：{"北":1, "东北":2, "东":3, "东南":4, "南":5, "西南":6, "西":7, "西北":8 }
 - total_price有缺失值的，根据area和unit_price计算总价，不能计算的，则剔除记录

In [11]:
# 转化 unit_price列
def unit_price_transform(city):
    city['unit_price'] = city['unit_price'] * 1e-4
    city['unit_price'] = city['unit_price'].astype('float64')
    return city

In [12]:
# 查看publishday常见统计指标
def pub_day_agg(city):
    return city.publishday.agg(["min","max","mean","median","std"])

In [13]:
# 填充 'publishday'的空值
def pub_day_fillna(city):
    pub_mean = round(city.publishday.mean(), 1)
    print(pub_mean)
    city.publishday.fillna(pub_mean, inplace=True)
    return city

In [14]:
# house_info 列的拆分
def split_houseInfo(city):
    house_info_split = city.house_info.str.split("|", expand=True)
    return house_info_split

In [15]:
# house_info_split 字段重命名
def rename_house_info_split(house_info_split):
    house_info_split.rename(columns={0:'0', 1:'room_hall', 2:'area', 3:'towards', 4:'decoration', 5:'have_elevator'}, inplace=True)
    return house_info_split

In [16]:
# 提取 area 中的数值，并转化为float64,重新赋值给area字段
def extract_area(house_info_split):
    house_info_split['area'] = house_info_split['area'].str[:-2]
    house_info_split['area'] = house_info_split['area'].astype('float64')
    return house_info_split

In [17]:
# room_hall 字段中提取 rooms 和 halls 
def extract_rooms_halls(house_info_split):
    house_info_split['rooms'] = house_info_split['room_hall'].str[0]
    house_info_split['halls'] = house_info_split['room_hall'].str[2]
    # trans dtype to int64
    house_info_split['rooms'] = house_info_split['rooms'].astype('int64')
    house_info_split['halls'] = house_info_split['halls'].astype('int64')

    return house_info_split

In [18]:
def concat_df(city, house_info_split):
    # 连接两个DataFrame
    return pd.concat([city.drop("house_info", axis=1), house_info_split], axis=1)

In [19]:
# 删除url列
km.drop(columns=['url'], axis=1, inplace=True)
cd.drop(columns=['url'], axis=1, inplace=True)
hz.drop(columns=['url'], axis=1, inplace=True)
sh.drop(columns=['url'], axis=1, inplace=True)

In [20]:
# 检验
print(km.columns)
print(cd.columns)
print(hz.columns)
print(sh.columns)

Index(['region', 'house_info', 'unit_price', 'total_price', 'publishday',
       'attention', 'visited'],
      dtype='object')
Index(['region', 'house_info', 'unit_price', 'total_price', 'publishday',
       'attention', 'visited'],
      dtype='object')
Index(['region', 'house_info', 'unit_price', 'total_price', 'publishday',
       'attention', 'visited'],
      dtype='object')
Index(['region', 'house_info', 'unit_price', 'total_price', 'publishday',
       'attention', 'visited'],
      dtype='object')

In [21]:
# 转化 'unit_price'列为 float类型，单位为万元
km = unit_price_transform(km)
cd = unit_price_transform(cd)
hz = unit_price_transform(hz)
sh = unit_price_transform(sh)

In [22]:
# Check
print(km.unit_price.dtype)
print(cd.unit_price.dtype)
print(hz.unit_price.dtype)
print(sh.unit_price.dtype)

float64
float64
float64
float64

In [23]:
# 查看各个城市的publishday统计指标
print("KunMing: \n", pub_day_agg(km))
print("ChengDu: \n", pub_day_agg(cd))
print("HangZhou: \n", pub_day_agg(hz))
print("ShangHai: \n", pub_day_agg(sh))

KunMing:
 min        3.000000
max       31.000000
mean      19.034483
median    19.500000
std        7.264088
Name: publishday, dtype: float64
ChengDu:
 min        5.000000
max       31.000000
mean      18.481203
median    17.000000
std        7.349089
Name: publishday, dtype: float64
HangZhou:
 min        3.000000
max       31.000000
mean      19.978774
median    20.000000
std        7.595695
Name: publishday, dtype: float64
ShangHai:
 min        6.000000
max       31.000000
mean      19.154882
median    20.000000
std        6.990552
Name: publishday, dtype: float64

In [24]:
# 填充 publishday 列的空值
km = pub_day_fillna(km)
cd = pub_day_fillna(cd)
hz = pub_day_fillna(hz)
sh = pub_day_fillna(sh)

19.0
18.5
20.0
19.2

In [25]:
# 检查是否空值填充
print(sum(km.publishday.isnull()))
print(sum(cd.publishday.isnull()))
print(sum(hz.publishday.isnull()))
print(sum(sh.publishday.isnull()))

0
0
0
0

In [26]:
km.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 7 columns):
region         570 non-null object
house_info     570 non-null object
unit_price     570 non-null float64
total_price    452 non-null float64
publishday     570 non-null float64
attention      570 non-null int64
visited        570 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 31.2+ KB

In [27]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
region         3000 non-null object
house_info     3000 non-null object
unit_price     3000 non-null float64
total_price    2439 non-null float64
publishday     3000 non-null float64
attention      3000 non-null int64
visited        3000 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 164.1+ KB

In [28]:
hz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 7 columns):
region         2999 non-null object
house_info     2999 non-null object
unit_price     2999 non-null float64
total_price    2980 non-null float64
publishday     2999 non-null float64
attention      2999 non-null int64
visited        2999 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 164.1+ KB

In [29]:
sh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
region         3000 non-null object
house_info     3000 non-null object
unit_price     3000 non-null float64
total_price    2993 non-null float64
publishday     3000 non-null float64
attention      3000 non-null int64
visited        3000 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 164.1+ KB

### house_info 字段的拆分

In [30]:
# 去除 house_info 中的空白符 ' ' 以 '' 代替
def except_space(city):
    city.house_info = city.house_info.str.replace(' ', '')
    return city

In [31]:
# 四个城市house_info字段的空格处理
km = except_space(km)
cd = except_space(cd)
hz = except_space(hz)
sh = except_space(sh)

In [32]:
km.head()

,region,house_info,unit_price,total_price,publishday,attention,visited
0,昆明市教工二幼儿园宿舍,|2室2厅|50平米|东南西北|其他,1.3000,NaN,19.0,9,6
1,新亚洲体育城星宇园,|3室2厅|119平米|东南|精装,1.3446,160.0,19.0,0,0
2,禧瑞都,|3室2厅|147平米|东南|简装,1.1021,162.0,19.0,0,0
3,金色交响家园,|4室2厅|105平米|东南|简装,1.4477,152.0,15.0,1,1
4,金碧阳光商住楼,|3室2厅|129.15平米|南北|其他,1.8196,235.0,19.0,3,1

In [33]:
#昆明
km_infos_split = split_houseInfo(km)
km_infos_split.head()

  0     1         2     3   4
0    2室2厅      50平米  东南西北  其他
1    3室2厅     119平米    东南  精装
2    3室2厅     147平米    东南  简装
3    4室2厅     105平米    东南  简装
4    3室2厅  129.15平米    南北  其他

In [34]:
# 因为昆明的房产数据中没有"是否有电梯"的描述，故单独处理
km_infos_split.rename(columns={0:'0', 1:'room_hall', 2:'area', 3:'towards', 4:'decoration',}, inplace=True)
km_infos_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 5 columns):
0             570 non-null object
room_hall     570 non-null object
area          570 non-null object
towards       570 non-null object
decoration    570 non-null object
dtypes: object(5)
memory usage: 22.3+ KB

In [35]:
# 昆明房产添加 have_elevator 列并转化为 str
km_infos_split['have_elevator'] = pd.Series(np.zeros(km_infos_split.shape[0]) )
km_infos_split['have_elevator'] = km_infos_split['have_elevator'].astype('int64')

In [36]:
# 昆明房产的 have_elevator转化为 str类型
km_infos_split['have_elevator'] = km_infos_split['have_elevator'].astype(str)
print(km_infos_split['have_elevator'].dtype)

object

In [37]:
km_infos_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 6 columns):
0                570 non-null object
room_hall        570 non-null object
area             570 non-null object
towards          570 non-null object
decoration       570 non-null object
have_elevator    570 non-null object
dtypes: object(6)
memory usage: 26.8+ KB

In [38]:
# 成都，杭州，上海
cd_infos_split = split_houseInfo(cd)
hz_infos_split = split_houseInfo(hz)
sh_infos_split = split_houseInfo(sh)

In [39]:
print(cd_infos_split.head())
print(hz_infos_split.head())
print(sh_infos_split.head())

  0     1         2     3   4    5
0    3室2厅   105.3平米    南北  简装  有电梯
1    3室1厅  113.65平米     西  简装  有电梯
2    3室2厅  111.06平米    东北  精装  有电梯
3    3室2厅  138.14平米  东南西北  精装  有电梯
4    2室2厅   68.89平米     西  精装  有电梯
  0     1         2   3   4    5
0    2室1厅   45.05平米   南  精装  无电梯
1    4室2厅  167.63平米  南北  简装  有电梯
2    2室1厅   57.87平米  南北  精装  无电梯
3    4室2厅  185.98平米  南北  精装  有电梯
4    4室2厅  231.72平米  南北  毛坯  无电梯
  0     1         2  3   4    5
0    3室2厅   145.2平米  南  精装  有电梯
1    3室2厅  143.69平米  南  精装  有电梯
2    3室2厅  134.55平米  南  精装  有电梯
3    3室1厅   97.52平米  南  简装  无电梯
4    3室2厅  120.76平米  南  简装  有电梯

In [40]:
# 成都，杭州，上海 三地的 split_infos 字段重命名
cd_infos_split = rename_house_info_split(cd_infos_split)
hz_infos_split = rename_house_info_split(hz_infos_split)
sh_infos_split = rename_house_info_split(sh_infos_split)

In [41]:
cd_infos_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
0                3000 non-null object
room_hall        3000 non-null object
area             3000 non-null object
towards          3000 non-null object
decoration       3000 non-null object
have_elevator    2774 non-null object
dtypes: object(6)
memory usage: 140.7+ KB

In [42]:
cd_infos_split[cd_infos_split.have_elevator.isnull()].sample(5)

     0 room_hall      area towards decoration have_elevator
1799        3室2厅  169.41平米      南北         其他          None
1638        2室1厅   88.89平米      东南         其他          None
2041        3室2厅  111.82平米      东南         其他          None
148         3室1厅    85.1平米      东南         其他          None
2679        3室1厅   87.76平米      西南         其他          None

In [43]:
hz_infos_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 6 columns):
0                2999 non-null object
room_hall        2999 non-null object
area             2999 non-null object
towards          2999 non-null object
decoration       2999 non-null object
have_elevator    2764 non-null object
dtypes: object(6)
memory usage: 140.7+ KB

In [44]:
sh_infos_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
0                3000 non-null object
room_hall        3000 non-null object
area             3000 non-null object
towards          3000 non-null object
decoration       3000 non-null object
have_elevator    2869 non-null object
dtypes: object(6)
memory usage: 140.7+ KB

In [45]:
# 填充各个城市 have_elevator 列的空值，以'0'代替
cd_infos_split['have_elevator'].fillna(value='0',inplace=True)
cd_infos_split['have_elevator'] = cd_infos_split['have_elevator'].str.strip()

hz_infos_split['have_elevator'].fillna(value='0',inplace=True)
hz_infos_split['have_elevator'] = hz_infos_split['have_elevator'].str.strip()

sh_infos_split['have_elevator'].fillna(value='0',inplace=True)
sh_infos_split['have_elevator'] = sh_infos_split['have_elevator'].str.strip()

In [46]:
print(km_infos_split.have_elevator.dtype)

object

In [47]:
print(cd_infos_split.have_elevator.dtype)

object

In [48]:
print(hz_infos_split.have_elevator.dtype)

object

In [49]:
print(sh_infos_split.have_elevator.dtype)

object

In [50]:
# 提取 area 中的数值，并转化为float64,重新赋值给area字段
km_infos_split = extract_area(km_infos_split)
cd_infos_split = extract_area(cd_infos_split)
hz_infos_split = extract_area(hz_infos_split)
sh_infos_split = extract_area(sh_infos_split)

In [51]:
km_infos_split.area.sample(5)

364     43.27
125     54.00
308     69.99
230    135.00
30     286.86
Name: area, dtype: float64

In [52]:
cd_infos_split.area.sample(5)

1625     89.69
445      40.73
2632    142.00
316     161.78
2982    154.01
Name: area, dtype: float64

In [53]:
# 从room_hall字段中提取 rooms 和 halls
km_infos_split = extract_rooms_halls(km_infos_split)
cd_infos_split = extract_rooms_halls(cd_infos_split)
hz_infos_split = extract_rooms_halls(hz_infos_split)
sh_infos_split = extract_rooms_halls(sh_infos_split)

In [54]:
print(km_infos_split.head())
print(hz_infos_split.head())

  0 room_hall    area towards decoration have_elevator  rooms  halls
0        2室2厅   50.00    东南西北         其他             0      2      2
1        3室2厅  119.00      东南         精装             0      3      2
2        3室2厅  147.00      东南         简装             0      3      2
3        4室2厅  105.00      东南         简装             0      4      2
4        3室2厅  129.15      南北         其他             0      3      2
  0 room_hall    area towards decoration have_elevator  rooms  halls
0        2室1厅   45.05       南         精装           无电梯      2      1
1        4室2厅  167.63      南北         简装           有电梯      4      2
2        2室1厅   57.87      南北         精装           无电梯      2      1
3        4室2厅  185.98      南北         精装           有电梯      4      2
4        4室2厅  231.72      南北         毛坯           无电梯      4      2

In [55]:
# Delete '0' and 'room_hall' columns
km_infos_split.drop(['0', 'room_hall'], axis=1, inplace=True)
cd_infos_split.drop(['0', 'room_hall'], axis=1, inplace=True)
hz_infos_split.drop(['0', 'room_hall'], axis=1, inplace=True)
sh_infos_split.drop(['0', 'room_hall'], axis=1, inplace=True)

In [56]:
print(km_infos_split.head())
print(cd_infos_split.head())
print(hz_infos_split.head())
print(sh_infos_split.head())

     area towards decoration have_elevator  rooms  halls
0   50.00    东南西北         其他             0      2      2
1  119.00      东南         精装             0      3      2
2  147.00      东南         简装             0      3      2
3  105.00      东南         简装             0      4      2
4  129.15      南北         其他             0      3      2
     area towards decoration have_elevator  rooms  halls
0  105.30      南北         简装           有电梯      3      2
1  113.65       西         简装           有电梯      3      1
2  111.06      东北         精装           有电梯      3      2
3  138.14    东南西北         精装           有电梯      3      2
4   68.89       西         精装           有电梯      2      2
     area towards decoration have_elevator  rooms  halls
0   45.05       南         精装           无电梯      2      1
1  167.63      南北         简装           有电梯      4      2
2   57.87      南北         精装           无电梯      2      1
3  185.98      南北         精装           有电梯      4      2
4  231.72      南北         毛坯           无电梯      4      2
     area towards decoration have_elevator  rooms  halls
0  145.20       南         精装           有电梯      3      2
1  143.69       南         精装           有电梯      3      2
2  134.55       南         精装           有电梯      3      2
3   97.52       南         简装           无电梯      3      1
4  120.76       南         简装           有电梯      3      2

In [57]:
km_infos_split.have_elevator.value_counts()

0    570
Name: have_elevator, dtype: int64

In [58]:
cd_infos_split.have_elevator.value_counts()

有电梯    2273
无电梯     501
0       226
Name: have_elevator, dtype: int64

In [59]:
hz_infos_split.have_elevator.value_counts()

有电梯    1613
无电梯    1151
0       235
Name: have_elevator, dtype: int64

In [60]:
sh_infos_split.have_elevator.value_counts()

有电梯    1640
无电梯    1229
0       131
Name: have_elevator, dtype: int64

In [61]:
# 将have_elevator列的"有电梯"映射为'1', 无电梯映射为'0'
km_infos_split['have_elevator'] = km_infos_split.have_elevator.apply(lambda x: '1' if x=="有电梯" else '0')
cd_infos_split['have_elevator'] = cd_infos_split.have_elevator.apply(lambda x: '1' if x=="有电梯" else '0')
hz_infos_split['have_elevator'] = hz_infos_split.have_elevator.apply(lambda x: '1' if x=="有电梯" else '0')
sh_infos_split['have_elevator'] = sh_infos_split.have_elevator.apply(lambda x: '1' if x=="有电梯" else '0')

In [62]:
# 把 have_elevator 转化为int64
km_infos_split['have_elevator'] = km_infos_split['have_elevator'].astype('int64')
cd_infos_split['have_elevator'] = cd_infos_split['have_elevator'].astype('int64')
hz_infos_split['have_elevator'] = hz_infos_split['have_elevator'].astype('int64')
sh_infos_split['have_elevator'] = sh_infos_split['have_elevator'].astype('int64')

In [63]:
km.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 7 columns):
region         570 non-null object
house_info     570 non-null object
unit_price     570 non-null float64
total_price    452 non-null float64
publishday     570 non-null float64
attention      570 non-null int64
visited        570 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 31.2+ KB

In [64]:
km_infos_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 6 columns):
area             570 non-null float64
towards          570 non-null object
decoration       570 non-null object
have_elevator    570 non-null int64
rooms            570 non-null int64
halls            570 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 26.8+ KB

In [65]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
region         3000 non-null object
house_info     3000 non-null object
unit_price     3000 non-null float64
total_price    2439 non-null float64
publishday     3000 non-null float64
attention      3000 non-null int64
visited        3000 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 164.1+ KB

In [66]:
cd_infos_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
area             3000 non-null float64
towards          3000 non-null object
decoration       3000 non-null object
have_elevator    3000 non-null int64
rooms            3000 non-null int64
halls            3000 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 140.7+ KB

In [67]:
hz.tail()

,region,house_info,unit_price,total_price,publishday,attention,visited
2994,亲亲家园一期,|4室3厅|170平米|南北|精装|无电梯,2.7059,460.0,23.0,6,0
2995,天阳九筑,|5室2厅|135.21平米|南|精装|有电梯,3.8459,520.0,23.0,0,0
2996,西溪蝶园二期,|3室2厅|170.53平米|东|精装|有电梯,5.5709,950.0,23.0,4,0
2997,金隅观澜时代天筑,|4室2厅|136.75平米|东南南|精装|有电梯,3.1810,435.0,23.0,1,0
2998,竹海水韵,|3室2厅|88.31平米|南北|精装|有电梯,2.4686,218.0,22.0,16,0

In [68]:
hz_infos_split.tail()

        area towards decoration  have_elevator  rooms  halls
2994  170.00      南北         精装              0      4      3
2995  135.21       南         精装              1      5      2
2996  170.53       东         精装              1      3      2
2997  136.75     东南南         精装              1      4      2
2998   88.31      南北         精装              1      3      2

In [69]:
# 拼接四个城市的原始数据和infos拆分后的字段为一个整体
km_clean = concat_df(km, km_infos_split)
cd_clean = concat_df(cd, cd_infos_split)
hz_clean = concat_df(hz, hz_infos_split)
sh_clean = concat_df(sh, sh_infos_split)

In [70]:
km_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 12 columns):
region           570 non-null object
unit_price       570 non-null float64
total_price      452 non-null float64
publishday       570 non-null float64
attention        570 non-null int64
visited          570 non-null int64
area             570 non-null float64
towards          570 non-null object
decoration       570 non-null object
have_elevator    570 non-null int64
rooms            570 non-null int64
halls            570 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 53.5+ KB

In [71]:
cd_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
region           3000 non-null object
unit_price       3000 non-null float64
total_price      2439 non-null float64
publishday       3000 non-null float64
attention        3000 non-null int64
visited          3000 non-null int64
area             3000 non-null float64
towards          3000 non-null object
decoration       3000 non-null object
have_elevator    3000 non-null int64
rooms            3000 non-null int64
halls            3000 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 281.3+ KB

In [72]:
sh_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
region           3000 non-null object
unit_price       3000 non-null float64
total_price      2993 non-null float64
publishday       3000 non-null float64
attention        3000 non-null int64
visited          3000 non-null int64
area             3000 non-null float64
towards          3000 non-null object
decoration       3000 non-null object
have_elevator    3000 non-null int64
rooms            3000 non-null int64
halls            3000 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 281.3+ KB

In [73]:
hz_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 12 columns):
region           2999 non-null object
unit_price       2999 non-null float64
total_price      2980 non-null float64
publishday       2999 non-null float64
attention        2999 non-null int64
visited          2999 non-null int64
area             2999 non-null float64
towards          2999 non-null object
decoration       2999 non-null object
have_elevator    2999 non-null int64
rooms            2999 non-null int64
halls            2999 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 281.2+ KB

### 异常值处理

 - 昆明市的房产数据存在异常值的处理

In [74]:
# 对 area 计算IQR
def get_area_iqr(df):
    q1 = df.area.quantile(q=0.25)
    q3 = df.area.quantile(q=0.75)
    area_IQR = q3 - q1
    return q1,q3,area_IQR

In [75]:
# 对 unit_price 计算IQR
def get_unit_iqr(df):
    q1 = df.unit_price.quantile(q=0.25)
    q3 = df.unit_price.quantile(q=0.75)
    unit_IQR = q3 - q1
    return q1,q3,unit_IQR

In [76]:
# 对 total_price 计算IQR
def get_total_price_iqr(df):
    q1 = df.total_price.quantile(q=0.25)
    q3 = df.total_price.quantile(q=0.75)
    tp_IQR = q3 - q1
    return q1,q3,tp_IQR

In [77]:
km_clean.describe()

,unit_price,total_price,publishday,attention,visited,area,have_elevator,rooms,halls
count,570.000000,452.000000,570.000000,570.000000,570.000000,570.000000,570.0,570.000000,570.000000
mean,1.354869,184.846239,19.017544,2.417544,0.833333,117.020544,0.0,3.089474,1.885965
std,0.429700,149.793602,5.176978,3.702615,2.011901,52.285880,0.0,1.034074,0.466049
min,0.612600,22.300000,3.000000,0.000000,0.000000,27.900000,0.0,1.000000,0.000000
25%,1.063875,128.000000,19.000000,0.000000,0.000000,87.125000,0.0,2.000000,2.000000
50%,1.263000,155.000000,19.000000,1.000000,0.000000,115.000000,0.0,3.000000,2.000000
75%,1.580650,210.000000,20.000000,3.000000,1.000000,140.000000,0.0,4.000000,2.000000
max,4.017300,2800.000000,31.000000,31.000000,17.000000,697.000000,0.0,8.000000,5.000000

In [78]:
## 计算昆明市房产的q1,q3 以及IQR
# q1, q3, area_IQR = get_area_iqr(km_clean)

## 查询异常值记录 条件： err_val <= q1 - 1.5*IQR, err_val >= q3 + 1.5*IQR  
# km_clean[(km_clean.area<(q1 - 1.5*area_IQR)) | (km_clean.area>(q3 + 1.5*area_IQR))]

In [79]:
# 选取异常数据的切片 house_err
house_err = km_clean[(km_clean.area>350)|(km_clean.total_price>800)]
house_err

,region,unit_price,total_price,publishday,attention,visited,area,towards,decoration,have_elevator,rooms,halls
7,云百大白龙潭善书院,2.8995,980.0,8.0,0,0,338.0,南北,其他,0,5,2
43,山海湾,4.0173,2800.0,19.0,3,0,697.0,南,毛坯,0,8,4

In [80]:
# 删除切片中的异常记录
km_clean.drop(labels=house_err.index, axis=0, inplace=True)

In [81]:
# 检验
km_clean[(km_clean.area>350)|(km_clean.total_price>800.0)]

Empty DataFrame
Columns: [region, unit_price, total_price, publishday, attention, visited, area, towards, decoration, have_elevator, rooms, halls]
Index: []

 - 成都市的房产数据存在异常值的处理

In [82]:
cd_clean.describe()

,unit_price,total_price,publishday,attention,visited,area,have_elevator,rooms,halls
count,3000.000000,2439.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,1.674727,203.713407,18.499167,51.360333,8.263333,104.847847,0.757667,2.699333,1.651667
std,0.595665,119.304585,1.541820,57.786477,9.804830,40.214693,0.428566,0.846466,0.505716
min,0.521500,28.600000,5.000000,0.000000,0.000000,25.540000,0.000000,1.000000,0.000000
25%,1.245175,130.000000,18.500000,17.000000,1.000000,79.695000,1.000000,2.000000,1.000000
50%,1.549400,166.000000,18.500000,34.000000,5.000000,92.280000,1.000000,3.000000,2.000000
75%,1.968800,238.000000,18.500000,64.000000,12.000000,126.292500,1.000000,3.000000,2.000000
max,5.431000,1300.000000,31.000000,768.000000,107.000000,452.050000,1.000000,7.000000,5.000000

In [83]:
## 计算成都市房产area的q1,q3 以及IQR
# q1, q3, area_IQR = get_area_iqr(cd_clean)

## 查询异常值记录 条件： err_val <= q1 - 1.5*IQR, err_val >= q3 + 1.5*IQR  
# cd_clean[(cd_clean.area<(q1 - 1.5*area_IQR)) | (cd_clean.area>(q3 + 1.5*area_IQR))]

In [84]:
# 选取异常数据的切片
house_err = cd_clean[(cd_clean.area>350)|(cd_clean.total_price>1200)]
house_err

,region,unit_price,total_price,publishday,attention,visited,area,towards,decoration,have_elevator,rooms,halls
975,中粮祥云一期,1.5707,710.0,18.5,38,4,452.05,南,毛坯,0,5,3
1715,东骏湖景湾一期,1.8765,780.0,18.5,67,0,415.68,东北,其他,1,6,5
1728,中海城南一号一期,5.4310,1298.0,18.5,41,0,239.00,南北,其他,1,5,1
1997,朗基望今缘,3.8576,1300.0,18.5,14,1,337.00,东南,其他,1,4,2
2156,雅居乐花园,1.2079,430.0,18.5,31,2,356.00,南,其他,1,6,3

In [85]:
# 删除 house_err 的异常记录
cd_clean.drop(labels=house_err.index, axis=0, inplace=True)

In [86]:
# 检验
cd_clean[(cd_clean.area>350)|(cd_clean.total_price>1200)]

Empty DataFrame
Columns: [region, unit_price, total_price, publishday, attention, visited, area, towards, decoration, have_elevator, rooms, halls]
Index: []

 - 杭州市的房产数据存在异常值的处理

In [87]:
hz_clean.describe()

,unit_price,total_price,publishday,attention,visited,area,have_elevator,rooms,halls
count,2999.000000,2980.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,3.778981,378.688255,19.996999,28.757919,4.778926,101.146886,0.537846,2.750250,1.635879
std,1.263139,218.817470,2.853142,42.446200,6.556635,42.746400,0.498649,0.858955,0.521831
min,1.208400,100.000000,3.000000,0.000000,0.000000,24.970000,0.000000,1.000000,0.000000
25%,2.798050,246.000000,20.000000,6.000000,0.000000,74.165000,0.000000,2.000000,1.000000
50%,3.707900,325.000000,20.000000,16.000000,2.000000,89.050000,1.000000,3.000000,2.000000
75%,4.478700,440.000000,20.000000,35.000000,7.000000,126.725000,1.000000,3.000000,2.000000
max,12.342600,2800.000000,31.000000,682.000000,54.000000,474.180000,1.000000,7.000000,4.000000

In [88]:
## 计算杭州市房产unit_price 的 q1,q3 以及IQR
# q1, q3, unit_IQR = get_unit_iqr(hz_clean)

## 查询异常值记录 条件： err_val <= q1 - 1.5*IQR, err_val >= q3 + 1.5*IQR  
# hz_clean[(hz_clean.unit_price<(q1 - 1.5*unit_IQR)) | (hz_clean.unit_price>(q3 + 1.5*unit_IQR))]

In [89]:
# 选取异常数据的切片
house_err = hz_clean[(hz_clean.total_price>1700)|(hz_clean.area>350)]
house_err

,region,unit_price,total_price,publishday,attention,visited,area,towards,decoration,have_elevator,rooms,halls
52,东方润园,9.2925,2800.0,20.0,34,1,301.32,南北,精装,1,6,2
2170,绿城蓝色钱江,7.5950,1800.0,20.0,68,1,237.00,南,精装,1,4,2
2173,赛丽绿城丽园,7.2148,2500.0,20.0,46,3,346.51,南,精装,1,5,2
2463,西溪诚园正信苑,9.0938,2580.0,20.0,30,2,283.71,南,精装,1,5,2
2470,湘湖壹号,5.6941,2700.0,20.0,18,3,474.18,南北,精装,0,5,2
2471,绿城蓝色钱江,9.2743,2180.0,20.0,7,3,235.06,南,其他,1,4,2

In [90]:
# 删除 house_err 的异常记录
hz_clean.drop(labels=house_err.index, axis=0, inplace=True)

In [91]:
# 检验
hz_clean[(hz_clean.total_price>1700)|(hz_clean.area>350)]

Empty DataFrame
Columns: [region, unit_price, total_price, publishday, attention, visited, area, towards, decoration, have_elevator, rooms, halls]
Index: []

 - 上海市的房产数据存在异常值的处理

In [92]:
sh_clean.describe()

,unit_price,total_price,publishday,attention,visited,area,have_elevator,rooms,halls
count,3000.000000,2993.000000,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,5.970096,640.673906,19.195533,74.10200,9.258000,98.822400,0.546667,2.304333,1.583000
std,2.445038,588.340140,2.196227,131.81445,9.787136,48.128071,0.497900,0.807423,0.559657
min,1.372500,100.000000,6.000000,0.00000,0.000000,23.670000,0.000000,1.000000,0.000000
25%,4.106375,299.000000,19.200000,25.00000,2.000000,66.880000,0.000000,2.000000,1.000000
50%,5.620600,445.000000,19.200000,49.00000,6.000000,89.000000,1.000000,2.000000,2.000000
75%,7.423975,800.000000,19.200000,91.00000,13.000000,120.952500,1.000000,3.000000,2.000000
max,18.611200,6500.000000,31.000000,4635.00000,85.000000,407.760000,1.000000,7.000000,4.000000

In [93]:
## 计算上海市房产 unit_price 的 q1,q3 以及IQR
# q1, q3, unit_IQR = get_unit_iqr(sh_clean)

## 查询异常值记录 条件： err_val <= q1 - 1.5*IQR, err_val >= q3 + 1.5*IQR  
# sh_clean[(sh_clean.unit_price<(q1 - 1.5*unit_IQR)) | (sh_clean.unit_price>(q3 + 1.5*unit_IQR))]

In [94]:
# 选取异常数据的切片
house_err = sh_clean[(sh_clean.total_price>4000)|(sh_clean.area>400)]
house_err

,region,unit_price,total_price,publishday,attention,visited,area,towards,decoration,have_elevator,rooms,halls
35,国际丽都城,14.1694,4680.0,19.2,20,0,330.29,南,精装,1,5,3
149,中凯城市之光(徐汇),11.1411,4500.0,19.2,161,6,403.91,南,精装,1,4,2
492,翠湖天地隽荟,15.1516,4500.0,19.2,9,11,297.00,南北,精装,1,3,2
567,翠湖天地隽荟,16.1539,6300.0,23.0,28,13,390.00,南北,精装,0,4,2
605,华侨城苏河湾(公寓),15.5175,4350.0,19.2,74,6,280.33,南西北,精装,1,3,2
707,财富海景花园,14.9480,5185.0,19.2,155,10,346.87,南,精装,1,4,2
1104,淮海晶华苑,8.8288,3600.0,19.2,108,1,407.76,暂无数据,精装,1,5,2
1109,海珀旭晖,15.6193,4280.0,19.2,69,4,274.02,南,精装,1,4,2
1131,财富海景花园,15.9998,6078.0,19.2,148,11,379.88,南,毛坯,1,3,2
1181,翠湖天地隽荟,16.6241,6500.0,23.0,15,2,391.00,南北,精装,1,5,2
1253,翠湖天地隽荟,16.1459,4650.0,19.2,65,0,288.00,南,精装,0,4,2
1531,财富海景花园,12.9578,4600.0,19.2,152,10,355.00,南,毛坯,1,3,2
1856,兰庭,15.9960,5700.0,19.2,3,2,356.34,南,毛坯,0,5,2
1857,兰庭,16.1897,5600.0,19.2,2,2,345.90,南,毛坯,0,5,2
2028,尚海湾豪庭,13.0160,5200.0,19.2,87,2,399.51,东南,精装,0,4,2
2119,财富海景花园,14.9998,5240.0,19.2,66,11,349.34,西,毛坯,1,3,2
2722,盛大金磐,16.2182,4900.0,19.2,12,0,302.13,南,精装,1,3,2

In [95]:
# 删除 house_err 的异常记录
sh_clean.drop(labels=house_err.index, axis=0, inplace=True)

In [96]:
# 检验 
sh_clean[(sh_clean.total_price>4000)|(sh_clean.area>400)]

Empty DataFrame
Columns: [region, unit_price, total_price, publishday, attention, visited, area, towards, decoration, have_elevator, rooms, halls]
Index: []

In [97]:
km_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 568 entries, 0 to 569
Data columns (total 12 columns):
region           568 non-null object
unit_price       568 non-null float64
total_price      450 non-null float64
publishday       568 non-null float64
attention        568 non-null int64
visited          568 non-null int64
area             568 non-null float64
towards          568 non-null object
decoration       568 non-null object
have_elevator    568 non-null int64
rooms            568 non-null int64
halls            568 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 57.7+ KB

In [98]:
cd_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2995 entries, 0 to 2999
Data columns (total 12 columns):
region           2995 non-null object
unit_price       2995 non-null float64
total_price      2434 non-null float64
publishday       2995 non-null float64
attention        2995 non-null int64
visited          2995 non-null int64
area             2995 non-null float64
towards          2995 non-null object
decoration       2995 non-null object
have_elevator    2995 non-null int64
rooms            2995 non-null int64
halls            2995 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 304.2+ KB

In [99]:
hz_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2993 entries, 0 to 2998
Data columns (total 12 columns):
region           2993 non-null object
unit_price       2993 non-null float64
total_price      2974 non-null float64
publishday       2993 non-null float64
attention        2993 non-null int64
visited          2993 non-null int64
area             2993 non-null float64
towards          2993 non-null object
decoration       2993 non-null object
have_elevator    2993 non-null int64
rooms            2993 non-null int64
halls            2993 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 304.0+ KB

In [100]:
sh_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2983 entries, 0 to 2999
Data columns (total 12 columns):
region           2983 non-null object
unit_price       2983 non-null float64
total_price      2976 non-null float64
publishday       2983 non-null float64
attention        2983 non-null int64
visited          2983 non-null int64
area             2983 non-null float64
towards          2983 non-null object
decoration       2983 non-null object
have_elevator    2983 non-null int64
rooms            2983 non-null int64
halls            2983 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 303.0+ KB

In [101]:
# 对 数据框的列进行重新排列
new_cols = ['region','rooms','halls','towards','decoration','have_elevator','visited','attention','publishday','unit_price','area','total_price']

# 重新摆放列的位置（推荐）
km_clean = pd.DataFrame(data=km_clean, columns=new_cols)
cd_clean = pd.DataFrame(data=cd_clean, columns=new_cols)
hz_clean = pd.DataFrame(data=hz_clean, columns=new_cols)
sh_clean = pd.DataFrame(data=sh_clean, columns=new_cols)

# 重新摆放列的位置（切片方式）
# km_clean = km_clean.loc[:, new_cols]
# cd_clean = cd_clean.loc[:, new_cols]
# hz_clean = hz_clean.loc[:, new_cols]
# sh_clean = sh_clean.loc[:, new_cols]

In [102]:
km_clean.tail()

,region,rooms,halls,towards,decoration,have_elevator,visited,attention,publishday,unit_price,area,total_price
565,滇池卫城橡尚,2,2,南北,其他,0,2,2,19.0,1.5778,90.00,142.0
566,滇池卫城蓝湾,5,3,南,其他,0,0,8,19.0,1.5360,153.00,235.0
567,广福城怡福园,2,2,西,其他,0,1,1,19.0,1.4957,77.56,116.0
568,怡康温泉新村B区,4,2,东西,其他,0,0,4,19.0,0.9758,132.20,129.0
569,鑫都公寓,2,1,东南,其他,0,0,0,19.0,2.1053,76.00,160.0

In [103]:
hz_clean.tail()

,region,rooms,halls,towards,decoration,have_elevator,visited,attention,publishday,unit_price,area,total_price
2994,亲亲家园一期,4,3,南北,精装,0,0,6,23.0,2.7059,170.00,460.0
2995,天阳九筑,5,2,南,精装,1,0,0,23.0,3.8459,135.21,520.0
2996,西溪蝶园二期,3,2,东,精装,1,0,4,23.0,5.5709,170.53,950.0
2997,金隅观澜时代天筑,4,2,东南南,精装,1,0,1,23.0,3.1810,136.75,435.0
2998,竹海水韵,3,2,南北,精装,1,0,16,22.0,2.4686,88.31,218.0

In [104]:
# 将清洗后的数据写入文件
# km_clean.to_csv(r"./data/clean/km_house_clean.csv", index=False)
# cd_clean.to_csv(r"./data/clean/cd_house_clean.csv", index=False)
# hz_clean.to_csv(r"./data/clean/hz_house_clean.csv", index=False)
# sh_clean.to_csv(r"./data/clean/sh_house_clean.csv", index=False)